.site-header {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    position: fixed;
    width: 90%;
    border-bottom: 1px solid #0087e0;
}

.header-right-side {
    display: flex;
    flex-direction: row-reverse;
}

.header-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-menu-item {
    margin-left: 20px;
    color: #0087e0;
    text-decoration: none;
}

.header-logo {
    height: 50px;
    width: 50px;
    margin-left: 40px;
}

.header-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sign-in-text {
    color: green;
}

.sign-out-text {
    color: #ff595e;
}
